{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors"
  ],
  "plugins": ["react"],
  "parserOptions": {"ecmaFeatures": {"jsx": true}},
  "env": {"mocha": true},
  "rules": {"comma-dangle": ["error", "never"],
    "jsx-a11y/href-no-hash": "off",
    "complexity": ["error", {"max": 4}],
    "handle-callback-err": "error",
    "import/default": "off",
    "import/order": ["error", {"newlines-between": "always"}],
    "max-statements": ["error", 30],
    "no-console": "off",
    "no-constant-condition": "error",
    "no-param-reassign": ["error", {"props": false}],
    "no-process-exit": "error",
    "no-useless-call": "error",
    "no-unused-expressions": "off",
    "no-trailing-spaces": "off",
    "no-use-before-define": "off",
    "one-var-declaration-per-line": "off",
    "react/jsx-filename-extension": [1, {"extensions": [".js"]}],
    "react/jsx-indent": ["error", 2],
    "react/jsx-sort-props": ["error", {"ignoreCase": false, "noSortAlphabetically": false}],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "react/no-multi-comp": [0, { "ignoreStateless": true }],
    "react/require-optimization": "off",
    "semi": ["error", "always"],
    "padded-blocks": "off",
    "max-len": ["error", { "code": 150 }],
    "indent": 2,
    "quotes": "off",
    "one-var": "off"
  }
}